<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Bolgposts</title>
  {{!-- <link rel="stylesheet" href="****************************add css file here*****"> --}}
</head>

<body>
  <header class="class-here">
    <h1>
      Blog
    </h1>
      <nav>
        <a href="/">Home</a>
        <a href="/dashboard">dashboard</a>
        {{#if logged_in}}
        <a id="logout">logout</a>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>

  </header>
  <main class="class-here">
    {{{ body }}}
  </main>
  <footer>
    <p>made with love by Noah</p>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
