<h2>New Post:</h2>
<form class="card">
  <div class="card-header">
    <input type="text" id="title" placeholder="your title here"/>
  </div>
  <div class="card-content">
    <textarea id="input-text"  cols="30" rows="10" placeholder="your thoughts here..."></textarea>
  </div>
</form>
<div class="center">
  <button id="post-btn" data-author="{{user.id}}">Add post</button>
</div>

<script src="/js/create-post.js"/>