<h2>New Post:</h2>
<form class="post-form">
  <div class="input-title">
    <input type="text" id="title" placeholder="your title here"/>
  </div>
  <div class="input-content">
    <textarea id="input-text"  cols="30" rows="10" placeholder="your thoughts here..."></textarea>
  </div>
  <button id="post-btn" data-author="{{user.id}}">Add post</button>
</form>
<script src="/js/create-post.js"/>