<h2>Login</h2>

<form class="TODO">
  <div class="TODO">
    <label for="email-login">email:</label>
    <input class="TODO" type="text" id="email-login" />
  </div>
  <div class="TODO">
    <label for="password-login">password:</label>
    <input class="TODO" type="password" id="password-login" />
  </div>
  <div class="TODO">
    <button class="TODO" type="submit">login</button><span> or </span> <a href="/sign-up">create an account</a>
  </div>
</form>

<script src="/js/login.js"></script>
