<h2>Login</h2>

<form class="login-form">
  <div class="TODO">
    <label for="name-login">username:</label>
    <input class="TODO" type="text" id="name-login" />
  </div>
  <div class="TODO">
    <label for="password-login">password:</label>
    <input class="TODO" type="password" id="password-login" />
  </div>
  <div class="TODO">
    <button class="TODO" type="submit">login</button><span> or </span> <a href="/sign-up">create an account</a>
  </div>
</form>

<script src="/js/login.js"></script>
