<h2>Sign-Up</h2>

<form class="signup-form">
  <div class="TODO">
    <label for="name-signup">username:</label>
    <input class="TODO" type="text" id="name-signup" />
  </div>
  <div class="TODO">
    <label for="email-signup">email:</label>
    <input class="TODO" type="text" id="email-signup" />
  </div>
  <div class="TODO">
    <label for="password-signup">password:</label>
    <input class="TODO" type="password" id="password-signup" />
  </div>
  <div class="TODO">
    <button class="TODO" type="submit">submit</button><span>
  </div>
</form>

<script type="application/javascript" src="/js/signup.js"></script>