/* main */
.main-header{
    background-color: aquamarine;
    
}
.nav{
    background-color: rgba(29, 29, 174, 0.381);
    padding: 4px;
    
}
h1, h2, h3{
    text-align: center;
}
main{
    background-color: bisque;
    border-style: groove;
    border-width: 1px;
    padding: 7px;
}
footer{
    background-color: rgb(236, 174, 212); 
    border-style:groove;
    border-width: 1px;
    text-align: center;
}
/*create-post*/
#title{
    margin: 3px;
    width: 98%;
}
#input-text{
    margin: 3px;
    width: 99%;
}

/*dashboard-post*/
.card{
    border-style: solid;
    border-width: 1px;
    margin: 3%;
    background-color: antiquewhite;
}
.card-header{
    background-color: rgba(149, 37, 37, 0.361);
    text-align: center;
    border-style: inset;
}
.card-content{
    padding-left: 3%;
    padding-right: 3%;    
}
.card-foot{
    font-size: x-small;
    text-align: end;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: rgba(128, 128, 128, 0.365);
}
.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.comments-div{
    background-color: rgba(52, 79, 11, 0.217);
}

.comment-content{
    padding-left: 3%;
    padding-right: 3%;
}

/*login*/
input{margin-left: 1%;}

/*post*/
#comment-input{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
}
#new-comment/*btn*/{
    margin-bottom: 1%;
}
